<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Students app</title>
  </head>
  <body>
    <form action="/students/" method="POST">
      <input type="text" name="name" placeholder="Enter your name here">
      <input type="number" name="age" placeholder="Enter your age">
      <input type="submit" value="Create student">
    </form>
  </body>
</html>
