<%- include ./partials/head.ejs %>

	<form action="/beavers/" method="POST">
		<input type="text" name="name" placeholder="add a beaver name">
		<input type="text" name="age" placeholder="add the age of the beaver">
		<input type="text" name="location" placeholder="add the location">
		<input type="submit" value="Add beaver">
	</form>

<%- include ./partials/footer.ejs %>
