<%- include ./partials/head.ejs %>

	<h1>Welcome to our beavers app!</h1>
	<h2>Here we can create, read, update and delete beavers</h2>
	<a href="/beavers"><button>Show all beavers</button></a>

<%- include ./partials/footer.ejs %>
