<h1>SignIn</h1>
<form action="/signIn" method="post">
    <input type="text" placeholder="name" name="name" value="asdf">
    <input type="password" placeholder="password" name="password" value="asdf">
    <input type="submit" value="submit">

</form>