<form action = "/sentence/<%= sentence %>" method="post">
	<input type="text" name="addNewLang" placeholder="New language">
	<input type="text" name="addTranslation" placeholder="New translation">
	<input type="submit" value ="Add translation">
</form>