<link rel="stylesheet" type="text/css" href="/public/style.css">
<h3>Update your sentence:</h3>
	<form action = "/sentence/<%= sentence %>/update" method="post">
	    <input type="text" placeholder="Updated sentence" name = "newSentence">
	    <input type="submit" value ="Update">
	</form>
                
