<h3>Update your translation:</h3>
<form action = "/sentence/<%= sentence %>/update/<%= lang%>" method="post">
    <input type="text" placeholder="<%= translation %>" name = "newTr">
	<input type="submit" value ="Update">
</form>