<script type='text/javascript'><%- include('../lib/bundle.js')-%></script>
<form>
  method: <input type="text" name="fname" value="" id="first"><br>
  arg1: <input type="text" name="lname" value="" id="second"><br>
  arg2: <input type="text" name="lname" value="" id="third"><br><br>
  <input type="button" onclick="runnin()" value="Submit form">
</form>
<br>
<span id="display"></span>
<br><br>
<span id="db"></span>
<br><br>
<br><br>
<div>
	<strong>
		methods:<br>
		&emsp; getOne- arg1:item's key<br>
		&emsp; getAll- <br>
		&emsp; update- arg1:item's key,  arg2:new value<br>
		&emsp; post- arg1:new key, arg2:new value<br>
		&emsp; remove- key

	</strong>
</div>