<div>This page will contain a form to submit a new beaver</div>
<form action="/beavers/create" method="POST">
    <input type="text" placeholder="Full name" name="fullName">
    <input type="text" placeholder="Email" name="email">
    <input type="text" placeholder="Address" name="address">
    <button type="submit">Submit</button>
</form>