<form action="/beavers/update/<%=data._id%>" method="POST">
    <input type="text" id ="fullNameinput" name="fullName" value=" <%= data.fullName %>"><br>
    <input type="text" id ="emailinput" name="email" value=" <%= data.email %>"><br>
    <input type="text" id ="addressinput"  name="address" value=" <%= data.address %>"><br>
    <button type="submit" id="savechanges">Save Changes</button>
</form>