<form action="/beavers/update/<%=beaver._id%>" method="POST">
    <input type="text" id ="fullNameinput" name="fullName">
    <input type="text" id ="emailinput" name="email">
    <input type="text" id ="addressinput"  name="address">
    <button type="submit" id="savechanges">Save Changes</button>
</form>