<!DOCTYPE html>  
<html lang = "en">
	<head>
		<meta charset="utf-8">
		<link href="/public/style.css" rel="stylesheet">
	</head>
	<body>

		<% include header %>

		<p> you're at my calculator </p>
		<p> it works from the url bar </p>
		<p> ie. localhost:1337/operation/arg1/arg2 </p>
		<p>add, mult, div, sub</p>
		<p> if you want to add to the last result: </p>
		<p> ie. localhost:1337/operation/arg1/null </p>

		<% include footer %>

	</body>
</html>

<!-- source: much of this app is from here: https://github.com/LindsayElia/express-calculator-app -->
