<!DOCTYPE html>
<html>
<head>
	<title>Add a contact</title>
</head>
<body>
	<h1>Add a contact</h1>
	<form action="/add" method="POST">
		<input type="text" name="name" placeholder="name">
		<input type="text" name="phone" placeholder="phone">
		<input type="text" name="email" placeholder="email">
		<input type="submit" name="">
	</form>
</body>
</html>