
<li class="data">
    <span> <%= data[i].fullName %></span>
    <span> <%= data[i].email %></span>
    <span> <%= data[i].address %></span>
    <a class="button" href = <%= "/beavers/show/"+data[i]._id %> >View details</a>
</li>